<div id="previews">
	
	<p class="sort-links">
	  Sort by:
	  <%= sortable "end_date", "Ending" %> |
	  <%= sortable "created_at", "Newest" %> | 
	  <%= sortable "wagers_count", "Popularity"  %>
	</p>
	
	<div class="clear"></div>
	
	<% if @bets.size == 0 %>
		&nbsp
	<% end %>
	<%= render :partial => "bet", :collection => @bets %>
	<div class="clear"></div>
	<%= will_paginate @bets, :params => {:format => nil} %>
	
</div>


