<div id="previews">
	
	<p class="sort-links">
	  Sort by:
	  <%= sortable "end_date", "Ending" %> |
	  <%= sortable "created_at", "Newest" %> | 
	  <%= sortable "wagers_count", "Popularity"  %>
	</p>
	
	<% if bets.size == 0 %>
		&nbsp
	<% end %>
	<% for bet in @bets %>
		<%= render :file => "bets/_bet.fb.erb", :locals => { :bet => bet, :bet_counter => 1 } %>
	<% end %>
	<div class="clear"></div>
	<%= will_paginate bets, :params => {:format => nil} %>
	
</div>