<div id="previews">
	
	<p class="sort-links">
	  Sort by:
	  <%= sort_link @search, :end_date, 'Ending' %> |
	  <%= sort_link @search, :created_at, 'Newest'%> | 
	  <%= sort_link @search, :wagers_count, 'Popularity' %>
	</p>
	
	<% if @bets.size == 0 %>
		&nbsp
	<% end %>
	<%= render @bets %>
	<div class="clear"></div>
	<%= will_paginate @bets, :params => {:format => nil} %>
	
</div>


