<div id="pagination">
	
	<p class="sort-links">
	  Sort by:
	  <%= sort_link @search, :id, 'Cashout Id' %> |
	  <%= sort_link @search, :created_at, 'Date Started' %> |
	  <%= sort_link @search, :user_display_name, 'User Name' %> | 
	  <%= sort_link @search, :user_email, 'User Email' %> | 
	  <%= sort_link @search, :paypal_email, 'User Email' %> <!-- | 
	  	  <%= sort_link @search, :payment_notification_status, 'Status' %> -->
	</p>
	
	<div class="purchase">
		<div class="row-item row-item-short">ID</div>
		<div class="row-item border-left row-item-long">Display Name</div>
		<div class="row-item border-left row-item-long">Email</div>
		<div class="row-item border-left row-item-long">PayPal Email</div>
		<div class="row-item border-left row-item-short">Amount</div>
		<div class="row-item border-left row-item-short">Value</div>
		<div class="row-item border-left row-item-long">Created At</div>
		<div class="row-item border-left row-item-short bold">Status</div>
	</div>
	<%= render @cashouts %>

	<div class="clear"></div>

	<%= will_paginate @cashouts %>
	
</div>