<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= content_for?(:title) ?  APP_CONFIG["application_name"] + " - " +  yield(:title) : APP_CONFIG["application_name"] %></title>
	<meta name="description" content="The USA's favourite friendly betting site. Bet people that you are right about something and show them who is Mr Always Right" />
	<meta name="keywords" content="Betting, Right, Wager, Prove, Brag" />
	<%= stylesheet_link_tag    "facebook" %>
    <%= javascript_include_tag "application" %>
	<script src="/javascripts/facebook.js" type="text/javascript" charset="utf-8" ></script>
	<!--[if lte IE 9]>
		<script src="/assets/custom/jquery.ie6.js" type="text/javascript" charset="utf-8" ></script>
	<![endif]-->
	<meta property="fb:app_id" content="<%= APP_CONFIG["fb_app_id"] %>" />
	<meta property="og:title" content="<%= APP_CONFIG["human_application_name"] %>" />
	<meta property="og:type" content="cause" />
	<meta property="og:url" content="<%= APP_CONFIG['facebook_url'] %>" />
	<meta property="og:image" content="<%= root_url(:subdomain => false) %>images/logo.png" />
	<meta property="og:site_name" content="<%= APP_CONFIG["application_name"] %>" />
	<meta property="og:description" content="Bet people that you are right about something and show them who is Mr Always Right"/>
    <%= csrf_meta_tag %>
	<% if is_iphone? || is_ipad? %>	
		<meta name="viewport" content="width=758; initial-scale=1.0; maximum-scale=1.0" />
	<% end %>
	<%= google_analytics APP_CONFIG["google_analytics_id"] %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id='main-page'>
		<div id='inner-page'>
			<div id='head-menu'>
				<h1 id='logo'><%= APP_CONFIG["application_name"] %></h1><%= yield(:back_button) %><%= link_to image_tag("logo.png", :size => "60x60") + APP_CONFIG["application_name"], root_url(:subdomain => false), :id => 'logo-title', :alt => APP_CONFIG["application1_name"], :title => APP_CONFIG["application1_name"] %>
				<%= render 'shared/login'%>
			</div>
	    	<div id="container">
				<%= create_flash_messages(flash) %>
				<%= create_notifications %>
				<div id="container-left">
		      		<div id='title'><%= content_tag :h2, yield(:title) if show_title? %></div>
		      		<%= yield %>
				</div>
				<div class="clear"></div>
		    </div>	
			<div class="line"></div>
			<div class="footer">
				<div>
					<span>&copy; <%= APP_CONFIG["application_name"] %> 2011</span>
					<span><%= link_to "How to play", root_url(:subdomain => false) + "how", :class => "fb-fancybox" %></span>
					<span><%= link_to "About us", root_url(:subdomain => false) + "about", :class => "fb-fancybox" %></span>
					<span><%= link_to "Contact us", root_url(:subdomain => false) + "contact", :class => "fb-fancybox" %></span>
					<span><%= link_to "Terms and Conditions", root_url(:subdomain => false) + "terms", :class => "fb-fancybox" %></span>
					<span><%= link_to "Privacy Policy", root_url(:subdomain => false) + "privacy", :class => "fb-fancybox" %></span>
				</div>
			</div>
			<div class="sliding-panel">
				<h3>Bragging rights!</h3>
				<%= render 'shared/bragging.html.erb'%>
				<div class="right"><%= link_to "view all >>", bragging_index_path(:subdomain => false), :class => "fb-fancybox" %></div>
				<div class="clear"></div>
				<%= render 'shared/mystats' %>
			</div>
			<a class="trigger" href="#">Glory</a>
		</div>
	</div>
	<div id="fb-root"></div> 
	<script type="text/javascript"> 
	  window.fbAsyncInit = function() {
	    FB.init({appId: '<%= APP_CONFIG["fb_app_id"] %>', status: true, cookie: true, xfbml: true});	
		FB.Canvas.setAutoResize();
		FB.Event.subscribe('comment.create', function(response) {
		  $.getScript("/javascripts/expire_fb_comments.js?bet=" + response.href);
		});
		FB.Event.subscribe('comments.remove', function (response) {
		  $.getScript("/javascripts/expire_fb_comments.js?bet=" + response.href);
		});
	  };
	  (function() {
		var e = document.createElement('script'); e.async = true;
	    e.src = document.location.protocol +
	      '//connect.facebook.net/en_US/all.js';
	    document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
  </body>
</html>
