<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= content_for?(:title) ?  APP_CONFIG["application_name"] + " - " +  yield(:title) : APP_CONFIG["application_name"] %></title>
	<meta name="description" content="The USA's favourite friendly betting site. Bet people that you are right about something and show them who is Mr Always Right" />
	<meta name="keywords" content="Betting, Right, Wager, Prove, Brag" />
    <%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<link rel="stylesheet" media="all and (max-width: 770px)" href="/assets/custom/ipad-portrait.css" />
	<link rel="stylesheet" media="all and (max-width: 1179px) and (min-width: 771px)" href="/assets/custom/ipad-portrait.css" />
	<link rel="stylesheet" media="all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" href="/assets/custom/ipad-landscape.css" /> 
	<link rel="stylesheet" media="all and (min-width: 1180px)" href="/assets/custom/widescreen.css" />
	<!--[if lte IE 9]>
		<script src="/assets/custom/jquery.ie6.js" type="text/javascript" charset="utf-8" ></script>
	<![endif]-->
	<%= auto_discovery_link_tag(:atom, bets_feed_path(:only_path => false)) %>
	<meta property="fb:app_id" content="<%= APP_CONFIG["fb_app_id"] %>" />
	<meta property="og:title" content="<%= APP_CONFIG["human_application_name"] %>" />
	<meta property="og:type" content="cause" />
	<meta property="og:url" content="<%= root_url(:subdomain => false) %>" />
	<meta property="og:image" content="<%= root_url(:subdomain => false) %>assets/logo.png" />
	<meta property="og:site_name" content="<%= APP_CONFIG["application_name"] %>" />
	<meta property="og:description" content="Bet people that you are right about something and show them who is Mr Always Right"/>
    <%= csrf_meta_tag %>
	<% if false %>	
		<link rel="stylesheet" media="only screen and (min-device-width: 320px) and (max-device-width: 480px)" href="/assets/custom/iphone.css" /> 
		<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" href="/assets/custom/iphone4.css" /> 
		<link rel="stylesheet" media="all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" href="/assets/custom/ipad-portrait.css" /> 
		<link rel="stylesheet" media="all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" href="/assets/custom/ipad-landscape.css" /> 
		<link rel="stylesheet" media="all and (min-device-width: 1025px)" href="/assets/custom/widescreen.css" />
	<% end %>		
	<% if is_iphone? || is_ipad? %>	
		<meta name="viewport" content="width=758; initial-scale=0.42; maximum-scale=1.0" />
	<% end %>
	<%= google_analytics APP_CONFIG["google_analytics_id"] %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id='main-page'>
		<div id='inner-page'>
			<div id='head-menu'>
				<h1 id='logo'><%= APP_CONFIG["application_name"] %></h1><%= yield(:back_button) %><%= link_to image_tag("logo.png", :size => "60x60") + APP_CONFIG["application_name"], root_url(:subdomain => false), :id => 'logo-title', :alt => APP_CONFIG["application1_name"], :title => APP_CONFIG["application1_name"] %>
				<%= render 'shared/login'%>
			</div>
	    	<div id="container">
				<%= create_flash_messages(flash) %>
				<%= create_notifications %>
				<div id="container-left">
		      		<div id='title'><%= content_tag :h2, yield(:title) if show_title? %></div>
		      		<%= yield %>
				</div>
				<% if !session[:facebook_canvas] && !is_iphone? %>
					<%= render 'shared/friends_list' %>
				<% end %>
				<div class="clear"></div>
		    </div>	
			<div class="line"></div>
			<div class="footer">
				<div>
					<span>&copy; <%= APP_CONFIG["application_name"] %> 2011</span>
					<span><%= link_to "Forum", forums_root_url(:subdomain => false) %></span>
					<span><%= link_to "How to play", root_url(:subdomain => false) + "how" %></span>
					<span><%= link_to "About us", root_url(:subdomain => false) + "about" %></span>
					<span><%= link_to "Contact us", root_url(:subdomain => false) + "contact" %></span>
					<span><%= link_to "Terms and Conditions", root_url(:subdomain => false) + "terms" %></span>
					<span><%= link_to "Privacy Policy", root_url(:subdomain => false) + "privacy" %></span>
				</div>
				<div>
					<span><%= link_to APP_CONFIG["application_name"], root_url(:subdomain => false), :alt => APP_CONFIG["application1_name"], :title => APP_CONFIG["application1_name"] %></span>
					<span><%= link_to APP_CONFIG["application2_name"], APP_CONFIG["application2_url"], :alt => APP_CONFIG["application2_name"], :title => APP_CONFIG["application2_name"] %></span>
				</div>
			</div>
			<div class="sliding-panel">
				<h3>Bragging rights!</h3>
				<%= render 'shared/bragging'%>
				<div class="right"><%= link_to "view all >>", bragging_index_path(:subdomain => false) %></div>
				<div class="clear"></div>
				<%= render 'shared/mystats' %>
				<h3>Forum</h3>
				<div><%= link_to "Forum", forums_root_url(:subdomain => false) %></div>
			</div>
			<a class="trigger" href="#">Glory</a>
		</div>
	</div>
	<div id="fb-root"></div> 
	<script type="text/javascript"> 
	  window.fbAsyncInit = function() {
	    FB.init({appId: '<%= APP_CONFIG["fb_app_id"] %>', status: true, cookie: true, xfbml: true});
		<% if APP_CONFIG["show_country_redirect"] == true %>
			<% if !session[:country] || session[:country][:shown] == false %>
				getUserCounty();
			<% end %>	
		<% end %>	
		<%= yield(:fb_javasctipts) %>
		FB.Event.subscribe('comment.create', function(response) {
		  $.getScript("/javascripts/expire_fb_comments.js?bet=" + response.href);
		});
		FB.Event.subscribe('comments.remove', function (response) {
		  $.getScript("/javascripts/expire_fb_comments.js?bet=" + response.href);
		});
	  };
	  (function() {
	    var e = document.createElement('script'); e.async = true;
	    e.src = document.location.protocol +
	      '//connect.facebook.net/en_US/all.js';
	    document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
  </body>
</html>
